@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
.react-calendar__month-view__weekdays abbr {
  text-decoration: none !important;
  border-bottom: none !important;
}
.react-calendar {
  border: none !important;
  box-shadow: none !important;
}
/* Make only selectable date blocks fully rounded */
/* Apply rounded styles only when the calendar is in "date" view */
.react-calendar__month-view .react-calendar__tile {
  /* aspect-ratio: 1/1; */
  border-radius: 50% !important; /* Makes it a perfect circle */
  overflow: hidden;
}

/* Ensure other views (month/year/decade) do NOT have rounded dates */
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  border-radius: 0 !important;
  /* aspect-ratio: auto; */
}
.react-calendar__navigation__arrow {
  /* aspect-ratio: 1/1; */
  border-radius: 50% !important; /* Makes it a perfect circle */
}
